<div>
  <label>
    De:
    <input
      type="text"
      [(ngModel)]="fromCurrency"
      placeholder="De moneda"
    />
  </label>
  <label>
    A:
    <input
      type="text"
      [(ngModel)]="toCurrency"
      placeholder="A moneda"
    />
  </label>
  <label>
    Monto:
    <input
      type="number"
      [(ngModel)]="amount"
      placeholder="Monto"
    />
  </label>

  <button (click)="convert()">Convertir</button>

  <div *ngIf="result" class="result">
    Resultado: {{ result }}
  </div>
  <div *ngIf="error" class="error">
    Error: {{ error }}
  </div>
</div>
